body{
    background:  linear-gradient(rgb(0, 121, 145), rgb(120, 255, 214));
  
}
.con1 {
    
    width: 86%;
    height: 300px;
    margin-top: 20px;
    margin-right: 100px;
    margin-left: 100px;
    
    
    background: #C4C4C4;
}
.con3 {
position: absolute;
width: 400px;
height: 28px;
left: 80px;
top: 470px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size:40px;


color: black;

}
.con4 {
 position: absolute;
width: 499px;
height: 140px;
left: 80px;
top: 540px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 24px;

color: black;
}
.con5 {
position: absolute;
width: 499px;
height: 140px;
left: 80px;
top: 620px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 24px;

color: black;
}
.con6 {
    position: absolute;
    width: 499px;
    height: 140px;
    left: 80px;
    top: 700px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 24px;
    
    color:black;
}
.con7 {
    position: absolute;
    width: 400px;
    height: 28px;
    left: 80px;
    top: 820px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size:40px;
    
    
    color: black;
    
    }
    .con8 {
      position: absolute;
      width: 400px;
      height: 140px;
      left: 80px;
      top: 900px;
      
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 30px;
      line-height: 24px;
      
      color: black;
  }
.con11 {
position: absolute;
width: 400px;
height: 28px;
left: 750px;
top: 470px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 40px;

color: black;

}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: none; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    background: transparent;
    border-bottom: 1px solid;
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #446cc2;
    border-radius: 4px;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: none;
    padding: 20px;
    height: 550px;
    width: 600px;
    margin-left: 750px;
    margin-top: 200px;
    font-size: 20px;
    border: 1px solid;
    
  }   
.con12

    