body{
    background:  linear-gradient(rgb(0, 121, 145), rgb(120, 255, 214));
}
.container {
    margin-right: -350px;
    margin-top: 20px;
}

  .button2 input[type=submit] {
    background-color: rgba(51, 60, 114, 0.507);
    color: white;
    padding: 12px 150px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: -130px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  input[type=submit]:hover {
    background-color: #446cc2;
    border-radius: 4px;
  }
  .controls {
      border-radius: 5px;
  }
  .control-group {
    border-radius: 5px;
    margin-left: -180px;
}
input[type=text], select, textarea {
    width: 500px; /* Full width */
    padding: 8px; /* Some padding */ 
    border: none; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 1px; /* Add a top margin */
    margin-bottom: 3px; /* Bottom margin */
    
    border: 1 px solid;
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  .form-horizontal {
    margin-top: 10px;
  }
