body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
  background: linear-gradient(rgb(0, 121, 145), rgb(120, 255, 214));
}
.loginform
{
	width: 300px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: rgba(0,0,0,0.25);
	text-align: center;
	border-radius: 20px;
}
.loginform:hover{
	background:linear-gradient(to right, rgb(185, 43, 39), rgb(21, 101, 192));
}

.loginform h1
{
	color: white;
	text-transform: uppercase;
	font-weight: 500;
}
.loginform input[type = "email"], .loginform input[type = "password"], .loginform input[type = "text"]
{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3dccc7;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;

}
.loginform input[type = "email"]:hover, .loginform input[type = "password"]:hover , .loginform input[type = "text"]:hover
{
	width: 280px;
	border-color: #9c89b8;

}
.loginform input[type = "submit"]
{
  border:0;
  background:linear-gradient(rgb(0, 121, 145), rgb(120, 255, 214));
  display: block;
  margin: 20px auto;
  text-align: center;
	font-weight: bolder;
  border: none;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.loginform input[type = "submit"]:hover
{
  background: linear-gradient(to right, rgb(41, 128, 185), rgb(109, 213, 250), rgb(255, 255, 255));
	cursor: pointer;
}
#a1
{
	text-decoration: none;
	color: white;
}
#a1:hover
{
	text-decoration: none;
	color:pink;
}
.loginform p
{
	display: flex;
	flex-direction: row;
	color:white;
}
.loginform p:before,.loginform p:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid white;
  margin: auto;
  opacity: 0.5;
}
#a2
{
  border:0;
  background: linear-gradient(rgb(0, 121, 145), rgb(120, 255, 214));
  display: inline-block;
  margin: 10px auto;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  border:none;
  padding: 14px 40px;
  outline: none;
  color: white;
	font-weight: bolder;
  border-radius: 24px;
  transition: 0.25s;
}
#a2:hover
{
  background: linear-gradient(to right, rgb(41, 128, 185), rgb(109, 213, 250), rgb(255, 255, 255));
	cursor: pointer;
}
.loginform img
{
  width: 100px;
  height: 100px;
  position: absolute;
  overflow: hidden;
  top: -50px;
  left: calc(50% - 55px)

}
::placeholder
{
	color: white;
	opacity: 0.5;
}
