body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: linear-gradient(rgb(0, 121, 145), rgb(120, 255, 214));
}
.registerform
{
	width: 300px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: rgba(0,0,0,0.25);
	border-radius: 20px;
	text-align: center;
}
.registerform:hover{
	background: linear-gradient(to right, rgb(185, 43, 39), rgb(21, 101, 192));
}
.registerform h1
{
	font-family: monospace;
	font-weight: 500;
	color: white;
}
.registerform input[type = "email"], .registerform input[type = "password"], .registerform input[type = "text"]
{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3dccc7;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;

}
.registerform input[type = "email"]:hover, .registerform input[type = "password"]:hover , .registerform input[type = "text"]:hover
{
	width: 280px;
	border-color: #9c89b8;

}
.registerform input[type = "submit"]
{
  background: linear-gradient(rgb(0, 121, 145), rgb(120, 255, 214));
  display: block;
  margin: 20px auto;
  text-align: center;
  border: none;
	padding: 14px 40px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
}
.registerform input[type = "submit"]:hover
{
  background:  linear-gradient(to right, rgb(41, 128, 185), rgb(109, 213, 250), rgb(255, 255, 255));
	cursor: pointer;
}
.registerform a
{
	text-decoration: none;
	background: linear-gradient(rgb(0, 121, 145), rgb(120, 255, 214));
	color: white;
	padding: 10px 10px;
	border-radius: 12px;
	display: inline-block;
}
.registerform a:hover
{
	text-decoration: none;
	background: linear-gradient(to right, rgb(252, 92, 125), rgb(106, 130, 251));
}
.registerform code
{
	color: white;
	font-size: 16px;
}
::placeholder
{
	color: white;
	opacity: 0.5;
}
