body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: lightgrey;
}
.loginform
{
	width: 300px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: black;
	text-align: center;
}

.loginform h2
{
	color: white;
	text-transform: uppercase;
	font-weight: 500;
}
.loginform input[type = "email"], .loginform input[type = "password"], .loginform input[type = "text"]
{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;

}
.loginform input[type = "email"]:hover, .loginform input[type = "password"]:hover , .loginform input[type = "text"]:hover
{
	width: 280px;
	border-color: #2ecc71;

}
.loginform input[type = "submit"]
{
  border:0;
  background: #4d7dc4;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.loginform input[type = "submit"]:hover
{
  background: #2ecc71;
	cursor: pointer;
}
#a1
{
	text-decoration: none;
	color: white;
}
#a1:hover
{
	text-decoration: none;
	color:#2ecc71;
}
.loginform p
{
	display: flex;
	flex-direction: row;
	color:white;
}
.loginform p:before,.loginform p:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid white;
  margin: auto;
  opacity: 0.5;
}
#a2
{
  border:0;
  background: #4d7dc4;
  display: inline-block;
  margin: 10px auto;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
#a2:hover
{
  background: #2ecc71;
	cursor: pointer;
}