body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: #4D7DC6;
}
.loginform
{
	width: 300px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #191919;
	text-align: center;
}

.loginform h1
{
	color: white;
	text-transform: uppercase;
	font-weight: 500;
}
.loginform input[type = "email"], .loginform input[type = "password"]
{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;

}
.loginform input[type = "email"]:hover, .loginform input[type = "password"]:hover
{
	width: 280px;
	border-color: #2ecc71;

}
.loginform input[type = "submit"]
{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
	padding: 14px 40px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
}
.loginform input[type = "submit"]:hover
{
  background: #2ecc71;
	cursor: pointer;
}
.loginform a
{
	text-decoration: none;
	color: white;
}
.loginform a:hover
{
	text-decoration: none;
	color:
	#2ecc71;
}
