<hmtl>
	<head>
			<title>Registration</title>
			<head>
				<link rel="stylesheet" type="text/css" href="Registration.css">
			</head>
	</head>
	<body>
		<form class="Registrationform" action="" method="post">
			<h1>𝕽𝖊𝖌𝖎𝖘𝖙𝖗𝖆𝖙𝖎𝖔𝖓</h1>
			<input type="email" name="" placeholder="Email">
			<input type="password" name="" placeholder="Password">
      <input type="password" name="" placeholder="Confirm Password">
      <input type="number" name="" placeholder="Phone number">
			<input type="submit" name="" value="Register">
		  <a href="#">Already have an account?</a>
		</form>
	</body>
</hmtl>
