{% extends 'hometemplate.html' %}
{%  block h1 %}

{% if item %}
<div class="text-center  font-weight-bold" style="font-size:36px;color: white;"> {{item[0]}}</div>
{% set temp = item.pop(0) %}
{% for dict_items in item %}
<div class="container-fluid ">
    <div class="row" style="margin-top: 30px;">
    <div class="col-md-4"><img class="img-fluid img-thumbnail" src="{{dict_items['src']}}">
    </div>
    <div class="col-4 text-dark">
        <form  id="category" action="buy" method="post" action="" style="margin-top:70px;" >
        <input type="text"  value="{{dict_items['name']}}" readonly style="border: none; font-size:20px; background:inherit; width:600px ; outline: none;"><br>
        <input type="text"  value="{{dict_items['description']}}" readonly style="border: none; font-size:20px; background: inherit; width:800px;outline: none;"><br>
      <span style="font-size: 20px;">&#x20b9</span> <input type="text"  value="{{dict_items['price']}}" readonly style="border: none; font-size:20px; background: inherit; width:300px;outline: none;"><br>
        <input id="buynow" type="submit" class="btn btn-warning" style=" margin-top: 20px; margin-right: 20px;" value="buy now">
        <input id="addcart" type="submit" class="btn btn-warning" style=" margin-top: 20px; " value="add to cart">
      </form>
    </div>
      </div>
 </div>

 {% endfor %}
 {% endif %}
 <p style="margin: 20px;"></p>
 {%  endblock %}