<hmtl>
	<head>
			<title>Change Password</title>
			<head>
				<meta name="viewport" content="width=device-width, initial-scale=1.0">
				<script src="../static/valid.js" type="text/javascript"></script>
				<link rel="stylesheet" type="text/css" href="../static/login.css">
			</head>
	</head>
	<body>
		<form class="loginform" action="changepassword" method="post" onsubmit="return B(this)">
			<h1 style="font-size:24px;">Change Password</h1>
			<input type="Password" name="oldpass" placeholder="Old Password" required>
			<input type="Password" name="newpass" placeholder="New Password" required>
      		<input type="Password" name="cpass" placeholder="Confirm Password" required>
			<input type="submit" name="" value="Change">
					{% if cmsg %}
					<h5 style="color:red">{{ cmsg }}</h5>
					<a id="a2" href="login">Click here to login</a>
					{% elif incorroldpassmsg %}
					<h5 style="color:red">{{ incorroldpassmsg }}</h5>
					{% elif errormsg %}
					<h5 style="color:red">{{ errormsg }}</h5>
					<a id="a2" href="login">Click here to login</a>
					{%  endif %}
		</form>
	</body>
</hmtl>
