<hmtl>
	<head>
			<title>Change Password</title>
			<head>
				<link rel="stylesheet" type="text/css" href="../static/login.css">
			</head>
	</head>
	<body>
		<form class="loginform" action="confirmpassword" method="post">
			<h1 style="font-size:24px;">Change Password</h1>
			<input type="Password" name="newpass" placeholder="New Password">
      <input type="Password" name="cpass" placeholder="Confirm Password">

			<input type="submit" name="" value="Continue">
					{% if cmsg %}
					<h5 style="color:red">{{ cmsg }}</h5>
					{%  endif %}
					{% if errormsg %}
					<h5 style="color:red">{{ errormsg }}</h5>
					{%  endif %}
		</form>
	</body>
</hmtl>
