<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Contact Us</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='contact.css'>
    <script src='contact.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <input type="submit" value="< Back">
    <div class="con1">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3556.1356755293855!2d75.74190531474163!3d26.962602483106163!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396db2e3cc70a0a9%3A0xd617826a428c5a45!2sNangal%20Rd%2C%20Jhotwara%20Industrial%20Area%2C%20Jhotwara%2C%20Jaipur%2C%20Rajasthan%20302012!5e0!3m2!1sen!2sin!4v1588826985268!5m2!1sen!2sin" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <div class="con2">
    <p class="con3"><i>Contact Info</i></p>
   
    <p class="con4"><i><b> <a href="" style="color: rgb(7, 7, 7);">
      <span class="fa-stack fa-lg">
      
      <i class="fa fa-map-marker fa-stack-1x "></i>
    </span></a></b> Jaipur, Rajasthan 302012</i></p>
    
    <p class="con5"><i><b> <span class="fa-stack fa-lg">
      
      <i class="fa fa-phone fa-stack-1x "></i></b>91 9999999999</i></p>
   
      <p class="con6"><i><b><span class="fa fa-stack fa-lg">
      
      <i class="fa fa-envelope fa-stack-1x "></i></b>xyzxyznnm@gmail.com </i></p>
    
    
    
    
      <p class="con7"><i>Get Social</i></p>
    <p class="con8"><a href="" style="color: black;"><span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
    </span></a>
    <a href="" style="color: black;"><span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
    </span></a>
    
    <a href="" style="color: black;"><span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
    </span></a>
    <a href="" style="color: black;"><span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
    </span></a>
    <a href="" style="color: black;"><span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
    </span></a>
    <a href="" style="color: black;"><span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-telegram fa-stack-1x fa-inverse"></i>
    </span></a>
    <a href="" style="color: black;"><span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-whatsapp fa-stack-1x fa-inverse"></i>
    </span></a>
    <a href="" style="color: black;"><span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
    </span></a></p>
  
  
    </div>
    <div>
  <p class="con11"><i>Get in touch with us</i></p>
        <form>
            <div class="con12">
            <div class="container">
                <form action="action_page.php">
              
                  <label for="fname"><b>Your Name</b></label>
                  <input type="text" id="fname" name="name" placeholder="Your name.." required>
              
                  <label for="lname"><b>Email</b></label>
                  <input type="text" id="lname" name="Email" placeholder="Your Email.." required>
              
                  <label for="country"><b>Country</b></label>
                  <select id="country" name="country" required>
                    <option value="usa">India</option>
                    <option value="australia">Australia</option>
                    <option value="canada">Canada</option>
                    <option value="usa">USA</option>

                  </select>
              
                  <label for="subject"><b>Message</b></label>
                  <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px" ></textarea >
              
                  <input type="submit" value="Send Message" required>
                </div>
                </form>
              </div>
        </form>
    </div>
   
    
    <!--border: 1px solid #ccc;-->
    
</body>
 