<!DOCTYPE html>
<html >
  <head>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap-4.0.0-dist/css/bootstrap.min.css">
    <script src="../static/jquery.js"></script>
    <script src="../static/hometemplate.js"></script>
    <link rel="stylesheet" href="../static/hometemplate.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="../static/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
    <script>
    $(document).ready(function(e) {
        $("#b1").click(function(e) {
    		$("#menu").toggle();
        });
    });
    </script>

    <title></title>
  </head>
  <body>
    <!-- container 1 start -->
    <div class="header container-fluid p-0">
    <!-- dropdown menu start -->
    <div class="dropdown">
    <button id="b1" ><img src="https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png"></button>
    <div class="dropdown-menu" id="menu">
    <p class="text-center"><b>Shop by category</b><p>
    <a href="#" class="dropdown-item" >mens fashion</a>
    <a href="#" class="dropdown-item" >womens fashion</a>
    <a href="#" class="dropdown-item" >kids</a>
    <a href="" class="dropdown-item" >skin care</a>
    <a href="#" class="dropdown-item ">watches</a>
    <a href="#" class="dropdown-item ">purses</a>
    <a href="#" class="dropdown-item ">glasses</a>
    <a href="#" class="dropdown-item ">bags</a>
    <a href="#" class="dropdown-item ">beds</a>
    <a href="#" class="dropdown-item ">tables</a>
    <a href="#" class="dropdown-item ">door</a>
    <a href="#" class="dropdown-item ">spices</a>
    <a href="#" class="dropdown-item ">food and vegetables</a>
    <hr>
    <p class="text-center" style><b>service</b><p>
      <a href="register" class="dropdown-item ">create account</a>
      <a href="login" class="dropdown-item ">your account</a>
      <a href="contact" class="dropdown-item ">contact</a>
    </div>
    <!-- dropdown end -->

    <form class="search" action="">
  <input type="text" name ="" placeholder="search here" name="search">
  <button type="submit"><i class="fa fa-search "></i></button>
  <span id="cart"><i class='fas fa-shopping-cart' style='font-size:24px'><a href="#">cart</a></i></span>
      <span id="login"><i class='fa fa-user' style='font-size:24px'><a style="color:white;text-decoration:none;font-size:16px" href="login">login</a></i></span>
</form>
    </div>
    </div>
<!-- header part end -->
<!--carousel start -->
<div id="caro" class="carousel slide" data-ride="carousel">

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://images.pexels.com/photos/1536619/pexels-photo-1536619.jpeg?cs=srgb&dl=smiling-woman-looking-upright-standing-against-yellow-wall-1536619.jpg&fm=jpg" alt="smiley" >
    </div>
    <div class="carousel-item ">
      <img src="https://images.pexels.com/photos/242829/pexels-photo-242829.jpeg?cs=srgb&dl=action-adult-adventure-biker-242829.jpg&fm=jpg" alt="menwithbullet" >
    </div>
    <div class="carousel-item">
      <img src="https://images.pexels.com/photos/2534961/pexels-photo-2534961.jpeg?cs=srgb&dl=photo-of-person-holding-brown-leather-handbag-2534961.jpg&fm=jpg" alt="pursue">
    </div>
    <div class="carousel-item">
      <img src="https://images.pexels.com/photos/190819/pexels-photo-190819.jpeg?cs=srgb&dl=silver-linked-bracelet-silver-and-black-round-chronograph-190819.jpg&fm=jpg" alt="watch" >
    </div>

  </div>
  <a class="carousel-control-prev" href="#caro" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#caro" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<!-- carousel end -->
  <!-- images part start -->
  
<div class="container-fluid p-0 ">
<h1 class="text-center">Fashion</h1>
<div class="row">
<div class="col-4">
<!-- DO your image work here
 like writing heading and post image -->
 <a class="text_none" href=""><p class="img_text">Women fashion</p><img class="div_img img-fluid " src="https://images.pexels.com/photos/928000/pexels-photo-928000.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"></a>
</div>
<div class="col-4"><a class="text_none" href=""><p class="img_text">Men fashion</p><img class="div_img img-fluid " src="https://onpointfresh.com/wp-content/uploads/2016/10/minimalist-mens-fashion.png"></a></div>
<div class="col-4"><a class="text_none" href=""><p class="img_text">kids fashion</p><img class="div_img img-fluid " src="https://images.pexels.com/photos/1619697/pexels-photo-1619697.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" ></a></div>
</div>
</div>

<div class="container-fluid p-0">
<h1 class="text-center">Grocery</h1>
<div class="row">
<div class="col-4"><a class="text_none" href=""><p class="img_text">Cleaning and household</p><img class="div_img img-fluid " src="https://etenterprises.net.au/wp-content/uploads/2016/07/House-Home-Flat-Cleaning-4.jpg" ></a></div>
<div class="col-4"><a class="text_none" href=""><p class="img_text">Food products</p><img class="div_img img-fluid" src="https://i.gadgets360cdn.com/large/Patanjali-food-product_1504679062833.jpg?downsize=600:*&output-quality=80"></a></div>
<div class="col-4"><a class="text_none" href=""><p class="img_text">Dairy Products</p><img class="div_img img-fluid" src="https://5.imimg.com/data5/UI/MM/TI/SELLER-11201646/amul-dairy-products-500x500-500x500.jpg" ></a></div>
</div>
</div>

<div class="container-fluid p-0 ">
<h1 class="text-center">Beauty & Accessories</h1>
<div class="row">
<div class="col-4"><a class="text_none" href=""><p class="img_text ">Beauty</p><img class="div_img img-fluid" src="https://image.freepik.com/free-vector/beauty-accessories-set_23-2147813018.jpg" ></a> </div>
<div class="col-4"><a class="text_none" href=""><p class="img_text ">Handbags</p><img class="div_img img-fluid" src="https://images.unsplash.com/photo-1556476511-05fff8b7ba95?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"></a></div>
<div class="col-4"><a class="text_none" href=""><p class="img_text ">Watchs</p><img class="div_img img-fluid" src="https://img10.joybuy.com/N0/s560x560_jfs/t1/39285/20/13590/537288/5d4a8e72E2b183562/c4d2305426d2f575.jpg.dpg" ></a></div>
</div>
</div>

<div class="container-fluid p-0 ">
  <h1 class="text-center">Furniture</h1>
<div class="row">
<div class="col-4"><a class="text_none" href=""><p class="img_text ">Bed</p><img class="div_img img-fluid" src="https://i.pinimg.com/236x/c6/55/4e/c6554ec7b1a8892f49e305cc1c7bf151.jpg" ></a></div>
<div class="col-4"><a class="text_none" href=""><p class="img_text ">Sofa</p><img class="div_img img-fluid" src="https://images2.alphacoders.com/270/thumb-1920-270990.jpg" class="rounded"></a></div>
<div class="col-4"><a class="text_none" href=""><p class="img_text">Table</p><img class="div_img img-fluid" src="https://freepngimg.com/download/aquarium/45184-3-coffee-table-hd-free-png-hq.png" ></a></div>
</div>
</div>




<!-- starting of footer -->
<div class="container-fluid p-0  ">

<footer class="footer-distributed">
<div class="footer-left">
  
<h3>About<span>Service</span></h3>

<p class="footer-links">
  <a href="#">Home</a>
  |
  <a href="#">Blog</a>
  |
  <a href="#">About</a>
  |
  <a href="#">Contact</a>
</p>

<p class="footer-company-name">© 2020 Service Pvt. Ltd.</p>
</div>

<div class="footer-center">
<div>
  <i class="fa fa-map-marker"></i>
    <p><span>00 - Jaipur,
     Mansarover, Jaipur</span>
    Rajasthan, India - 302020</p>
</div>

<div>
  <i class="fa fa-phone"></i>
  <p>+91 0000000000</p>
</div>
<div>
  <i class="fa fa-envelope"></i>
  <p><a href="abcdefghi@gmail.com">abcdefghi@gmail.com</a></p>
</div>
</div>
<div class="footer-right">
<p class="footer-company-about">
  <span>About the company</span>
  We strive to have a positive impact on customers, employees, small businesses, the economy, and communities.</p>
<div class="footer-icons">
  <a href="#"><i class='fab fa-facebook-f'></i></a>
  <a href="#"><i class='fab fa-instagram'></i></a>
  <a href="#"><i class='fab fa-linkedin'></i></a>
  <a href="#"><i class='fab fa-whatsapp'></i></a>
  <a href="#"><i class='fab fa-twitter'></i></a>
  </div>
</div>
</footer>
</div>
  </body>
</html>
