<hmtl>
	<head>
			<title>Login</title>
			<head>
				<link rel="stylesheet" type="text/css" href="../static/login.css">
			</head>
	</head>
	<body>
		<form class="loginform" action="home.html" method="post">
			<h2>Login</h2>
			<input type="email" name="" placeholder="Email">
			<input type="password" name="" placeholder="Password">
			<input type="submit" name="" value="Login">
		    <a id="a1" href="forget.html">Forget password?</a>
		    <p>OR</p>
			<a id="a2" href="Register.html">Create an account</a>
		</form>
	</body>
</hmtl>
