{% extends 'hometemplate.html' %}

{% block h1 %}
<div class="container">
  <h1 class="text-center text-white">Orders</h1>
{% if orderinfo %}
{% for data in orderinfo %}
<div class="orderdetail container-fluid">
  <h4 class=" text-white" style="margin-left: 50px;">order {{loop.index}}</h4>
<p>order ID: {{data[0]}}  </p>
<p>product name : {{data[1]}}  </p>
<p>product price : &#x20b9 {{data[2]}}  </p>
<p>delivery address: {{data[6]}},{{data[7]}},{{data[8]}},{{data[9]}} </p>
<p>payment status : {% if data[10] == 0 %} payment not done  {% elif data[10] == 1 %} payment done {% endif %}</p>
<hr>
</div>
{% endfor %}
{% endif %}
</div>
{% endblock %}