<hmtl>
	<head>
			<title>Register</title>
			<head>
				<link rel="stylesheet" type="text/css" href="../static/register.css">
			</head>
	</head>
	<body>
		<form class="registerform" action="register" method="post">
			<h1>CREATE ACCOUNT</h1>
      <input type="text" name="name" placeholder="Name">
			<input type="email" name="email" placeholder="Email">
			<input type="text" name="mobileno" placeholder="Mobile Number">
			<input type="password" name="password" placeholder="Password">
			<input type="submit" name="" value="Sign Up">
		  <code>Already have an account? </code><a href="login">Login</a>
			{% if rmsg %}
		   <h5 style="color:red;">{{ rmsg }}</h5>
		     {% endif %}
		</form>
	</body>
</hmtl>
