<hmtl>
	<head>
			<title>Register</title>
			<head>
				<meta name="viewport" content="width=device-width, initial-scale=1.0">
				<link rel="stylesheet" type="text/css" href="../static/register.css">
				<script src="../static/valid.js" type="text/javascript"></script>
			</head>
	</head>
	<body>
		<form class="registerform" action="register" method="post" onsubmit="return A(this)">
			<h1>CREATE ACCOUNT</h1>
      <input type="text" name="name" placeholder="Name">
			<input type="email" name="email" placeholder="Email">
			<input type="text" name="mobileno" placeholder="Mobile Number">
			<input type="password" name="pass" placeholder="Password">
			<input type="password" name="cpass" placeholder="confirm password">
			<input type="submit" name="" value="Sign Up">
		  <code>Already have an account? </code><a href="login">Login</a>
		  {% if rsmsg %}
		  <h5 style="color:red;">{{ rsmsg }}</h5>
		   <a id="a2" href="verify">Please verify from here</a>
		   {%  endif %}
			{% if rmsg %}
		   	<h5 style="color:red;">{{ rmsg }}</h5>
		     {% endif %}
		</form>
	</body>
</hmtl>
