<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel="stylesheet" type="text/css" href="../static/bootstrap-4.0.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/editprofile.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="../static/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>


</head>
<body>
    <div class="first">
    <div class="container">
        <div class="row">
             <form class="form-horizontal"   action="upload" method="post" enctype="multipart/form-data">
                <fieldset>


                    <h2>Upload Product</h2>
                    <div class="control-group">
                        <label class="control-label">Name of Product</label>
                        <div class="controls">
                            <input  name="name" type="text" placeholder="name"
                            class="input-xlarge">
                            <p class="help-block"></p>
                        </div>
                    </div>


                    <div class="control-group">
                        <label class="control-label">Category</label>
                        <div class="controls">
                            <select id="country" name="category" class="input-xlarge">
                                <option value="" selected="selected">(please select a category)</option>
                                <option value="mens fashion">mens fashion</option>
                                <option value="womens fashionL">womens fashion</option>
                                <option value="kids">kids</option>
                                <option value="skin care">skin care</option>
                                <option value="watches">watches</option>
                                <option value="bags">bags</option>
                                <option value="beds">beds</option>
                                <option value="tables & chair">tables & chair</option>
                                <option value="food and vegetables">food and vegetables</option>
                            </select>
                        </div>

                    </div>

                    <div class="control-group">
                        <label class="control-label">Price of Product </label>
                        <div class="controls">
                            <input  name="price" type="text" placeholder="price" class="input-xlarge">
                            <p class="help-block"></p>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Description</label>
                         <div class="controls">
                            <textarea class="input-xlarge"  name="description"></textarea>
                            <p class="help-block"></p>
                          </div>
                    </div>


                    <div class="control-group">
                        <label class="control-label">Photos</label>

                        <div class="controls">
                            <div class="input-group-btn">
                            <div class="btn btn-primary btn-file">
                                Browse… <input type="file" id="fileupload" name="file" multiple>

                            </div>
                          </div>

                        </div>

                    </div>

                    <div class="button2">
                    <input type="submit" value="Upload">
                  </div>

                    </fieldset>
                  </form>
        </div>
        {% if msg %}
        <h5 style="color:red">{{ msg }}</h5>
        {%  endif %}
    </div>
    </div>


</body>
</html>
