<hmtl>
	<head>
			<title>Verify</title>
			<head>
				<meta name="viewport" content="width=device-width, initial-scale=1.0">
				<link rel="stylesheet" type="text/css" href="../static/login.css">
			</head>
	</head>
	<body>
		<form class="loginform" action="verify" method="post">
			<h1 style="font-size:24px;">Verify Account</h1>
			<input type="text" name="" placeholder="Enter Verification Code" required>
			<input type="submit" name="" value="Continue">
			{% if vmsg  %}
			<h5 style="color: red;">{{vmsg}}</h5>
			<a id="a2"  href="login"> Login</a>
			{% endif %}
		</form>
	</body>
</hmtl>
